*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html {
  background: white; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient( #edecec, #ffffff, #edecec); /* Safari */
  background: -o-linear-gradient( #edecec, #ffffff, #edecec); /* Opera 11.6 to 12.0 */
  background: -moz-linear-gradient( #edecec, #ffffff, #edecec); /* Firefox 3.6 to 15 */
  background: linear-gradient(#edecec, #ffffff, #edecec); /* Standard syntax */
  width: 100%;
  height: 1000px;
  color: #000000;
}

p {
  font-family: 'Chathura', sans-serif;
  font-size: 40px;
}

p::first-line {
  color: #a72611;
}

.head-wrapper {
  position: relative;
}

 h1 {
  position: relative;
  margin: 40px 0 0px 0;
  padding-bottom: 30px;
  padding-left: 100px;
  font-family: 'Julius Sans One', sans-serif;
  font-size: 60px;
  border-bottom: 1px solid #878687;
  color: black;
}

.nav {
  float: right;
  padding-right: 150px;
  padding-top: 40px;
  padding-left: 20px;
  color: #a72611;
  font-family: 'Julius Sans One', sans-serif;
  text-shadow: -1px 1px 5px grey;
}

.tshirt-wrapper {
  position: relative;
  top: 20px;
}

.tshirt > img {
  position: absolute;
  left: 150px;
  top: 200px;
  padding-bottom: 100px;
}

.tshirt > img:hover {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

#cap1 {
  position: absolute;
  left: 210px;
  top: 65px;
}

#cap2 {
  position: absolute;
  left: 380px;
  top: 330px;
}

/*- - - - - - - - - - - - DESCRIPTION SECTION- - - - - - - - - - - - - - */

.description > p {
  position: absolute;
  font-size: 30px;
  color: #696969;
  width: 270px;
  height: 100px;
  left: 800px;
  top: 180px;
}

#cart {
  position: absolute;
  left: 1010px;
  top: 515px;
  height: 30px;
}

#cart:hover {
  border: 1px solid black;
  height: 34px;
}

 /*- - - - - - - - BROWSE SECTION - - - - - - - - -*/

.collection-wrapper {
  position: relative;
  float: left;
  top: 500px;
  padding-left: 100px;

}

#browse {
position: absolute;
left: 220px;
top: 130px;
}

.similar {
  position: absolute;
  padding-top: 400px;
  padding-left: 100px;
  float: left;
}

.similar img {
  border: 2px solid #cbcbcb;
  width: 125px;
  height: 125px;
  margin: 10px;
  padding:2px;
}

.similar img:hover {
  border: 3px solid #a2a2a2;
  width: 125px;
  height: 125px;
  margin: 10px;
  padding:2px;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

/*- - - - - - - - - - - - - - TABLE STYLING - - - - - - - - - - - - - -*/

.sizingchart-wrapper {

  position: relative;
  float: right;
  top: 630px;
  right: 180px;

}

tr:first-of-type {
  background-color: #c27063;
  margin: 0;
  color: white;
}

th, td {
  padding: 20px;
}

th:first-of-type {
  text-align: left;
}

table {
  border-collapse:collapse;
  margin-left: 30px;
}

/*- - - - - - - - - - - - - TABLE STYLING END- - - - - - - - - - - - - -*/


.footer p {
  text-align: center;
  position: relative;
  bottom: -1600px;
}
